{% extends 'utilities/layout.html' %}
{% block main %}

  <div class="row mt-3 mb-5" style="min-height: 420px;">
    <div class="col">
      <form action="{{url_for('fast_orders')}}" method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}" />
        <div class="position-relative" style="max-width: 600px; margin: 0px auto">
            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" name="searchInput" id="search-box" placeholder="Enter order number to load products">
            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2" id="search-button">Load</button>
        </div>
      </form>
    </div>     
  </div>
  <div id="items-container">

  </div>
      
  </div>

{% endblock main %}
{% block customJS %}
<script>
  $('#search-button').click(function(){
    const searchInput = $('#search-box').val();
    $.ajax({
      url: "/fast-orders/",
      type: "POST",
      data: {
        "csrf_token": "{{csrf_token()}}",
        "searchInput": searchInput,
      },
      success: function(response){
        if (response.status == 'success' && response.item_list){
          let itemHtml = '';
          
          // Clear previous content in the items-container
          $('#items-container').html('');

          $('#items-container').append(
            `<div class="container">
              <div class="card card-round">
                <div class="card-header">
                  <div class="card-head-row card-tools-still-right">
                    <div class="h3 text-center">Order Details</div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Price per unit</th>
                        </tr>
                      </thead>
                      <tbody id="items-table-body">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary mt-3" id="load-to-cart">Load to cart</a>
              </div>
            `
          );

          // Populate the table body with items
          response.item_list.forEach((item, index) => {
            itemHtml += `
            <tr>
              <input type="hidden" value="${item.orderid}" name="orderId" class="orderId" />
                <th scope="row"><button class="btn btn-success btn-sm"> <i class="fa fa-check"></i></button></th>
                <td>${item.name}</td>
                <td>${item.quantity}</td>
                <td>${item.price}</td>
              </tr>
            `;  
          });
          
          // Append the constructed rows to the table body
          $("#items-table-body").append(itemHtml);
        } else {
          alert('Error: Could not retrieve order details.');
        }
      },
      error: function() {
        alert('Error: Request failed.');
      }
    });
  });

  $('#load-to-cart').click(function(event){
    const form = event.target.closest('form');
    const searchInput = form.querySelector("#search-box").value;
    console.log(searchInput)
    $.ajax({
      url: `/load-items-to-cart/${orderId}/`,
      type: 'POST',
      data: {"csrf_token": "{{csrf_token()}}"},
      success: function(response) {
          if (response.status === 'success') {
            
          }
      },
      error: function() {
          alert('Error: Request failed.');
      },
    });
  })

</script>

{% endblock customJS %}