{% extends 'utilities/layout.html' %}

{% block main %}
    <div class="container">
     <h2 class="text-center py-3 my-3 bg-light">Professional Caterers</h2>
     <div class="tab-content mb-5">
        <div class="tab-pane fade show p-0 active">
            <div class="row g-4">
                {% for caterer in caterers %}
                 {% if caterer.customer_deets.dp %}
                  <div class="col-lg-3 col-md-6 col-11 wow fadeInUp card-col" data-wow-delay="0.1s">
                    <div class="card caterer-card">
                        <input type="hidden" name="catererId" class="caterer-input" value="{{caterer.id}}" />
                        <img src="/static/photos/{{ caterer.customer_deets.dp }}" alt="..." height="210" style="object-fit: cover;">
                        <div class="footer p-2 d-flex flex-column text-center" style="font-size: small;">
                            <span class="h6">{{ caterer.customer_deets.firstname }} {{caterer.customer_deets.lastname}}</span>
                            <span class="card-text text-formart" style="background: lavender; border-radius: 4px"> {{ caterer.specialities }}</span>
                            <span class="text-muted px-2" style="font-style: italic;"><i class="fas fa-location-dot text-warning"></i> {{caterer.city}}, {{ caterer.state }} State</span>
                        </div>
                    </div>
                  </div>
                 {% endif %}
                {% endfor %}
            </div>
        </div>
     </div>

        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-3 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <h1 class="display-5 mb-3 mt-4">Event Gallery</h1>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" href="#tab-0">Marriages</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-1">Birthdays</a>
                    </li>
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">Funerals</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-0" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    {% for chef in chefs %}
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card">
                            <img src="/static/images/{{ chef.image }}" alt="..." height="200" style="object-fit: cover;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="tab-1" class="tab-pane fade show p-0">
                <div class="row g-4">
                    {% for chef in chefs %}
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card">
                            <img src="/static/images/{{ chef.image }}" alt="..." height="200" style="object-fit: cover;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0 hidden">
                <div class="row g-4">
                    {% for chef in chefs %}
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="card">
                            <img src="/static/images/{{ chef.image }}" alt="..." height="200" style="object-fit: cover;">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
{% block customJS %}
<script>   
    const catererCards = document.querySelectorAll('.caterer-card');

    catererCards.forEach(card => {
        card.addEventListener('click', () => {
            const input = card.querySelector('.caterer-input');
            
            if (input) {
                const catererId = input.value;
                $.post({
                    url: `/caterer-view-count/${catererId}/`,
                    data: {"csrf_token": "{{csrf_token()}}"},
                    success: function(response){
                      if (response.status=='success')
                      window.location.replace(`/caterer-details/${catererId}/`);
                    }
                  })
            }
        });   
    });

</script>
{% endblock customJS %}